<section class="bodyS">
  <div class="basicInfo">
    <p class="wow fadeInDown" data-wow-delay="0.8s">Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful. They are capable of influencing every aspect of our daily lives, from our physical health to our social behaviors. I’m sure you’ve heard the adage, “As you think, so shall.</p>
    <div class="projectWindow simekostav wow fadeInRight" class="wow fadeInUp" data-wow-delay="0.8s">
      <div class="description">
        <h3>SIMEKOSTAV</h3>
        <h4>Making a modern website template for various real estate projects + drone photography</h4>
      </div>
      <div class="layer"></div>
    </div>
  </div>
  <div class="listServices">
    <h2>we'll take care of all those things</h2>
    <ul>
      <li>design, wireframe</li>
      <li>prototype</li>
      <li>coding</li>
      <li>deploying</li>
      <li>logo, illustrations, images, etc.</li>
      <li>copywriting</li>
      <li>SEO / marketing</li>
      <li>consultation</li>
    </ul>
  </div>
</section>
<div class="line"></div>
<section class="whereToGoNext">
  <div class="boxes">
    <div class="videoPhotoBox wow fadeInLeft">
      <a href="/video_photo_production"></a>
      <h4>VIDEO & PHOTO<br>PRODUCTION</h4>
    </div>
    <div class="projectsBox wow fadeInDown">
      <a href="/projects"></a>
      <h4>PROJECTS</h4>
    </div>
    <div class="socialMediaBox wow fadeInRight">
      <a href="/social_media_marketing"></a>
      <h4>SOCIAL MEDIA<br>MARKETING</h4>
    </div>
  </div>
  <p>// where to go next?</p>
</section>
