<section class="bodyS bodyPhotoVideo">
  <div class="basicInfo">
    <div class="basicInfoTextInner">
      <p class="wow fadeInDown" data-wow-delay="0.8s">Milujeme vše, co se týká našeho foťáku. Je jedno jestli se zrovna jedná o jednoduché focení vašeho produktu, točení nemovitosti dronem, 360° nebo nějaké extra složité video reklamy - vše co nabízíme, se snažíme dělat s co nejvetší kvalitou a zároveň zůstat kreativní. Celou tvorbu vždy speciálně přízpůsobíme koncovéhu uživateli pro větší efektivitu.
V dnešním světě hraje vizuální obsah jistě tu nejdůležitější roli ze všech. Už dávno si nikdo nečte váš web, lidé si na vás vytváří názor ve zlomkách vteřin, na základě věcí, které je přirozeně zaujmou. Jediná cesta k tomu, jak si dnes získat pozornost zákazníka, v drtivé většině začíná u nějakého krátkého videa nebo zajímavé fotky na instagramu. Investice do prezentace svých produktů je určitě věc, nad kterou by měla každá firma uvažovat.</p>
    </div>
    <a title="Jezdecká stáj Skvrňov" href="/skvrnov">
      <div class="projectWindow jezdeckaStaj wow fadeInRight" class="wow fadeInUp" data-wow-delay="0.8s">
        <div class="description">
          <h3>JEZDECKÁ STÁJ SKVRNOV</h3>
          <h4>Produkce profesioálního promo videa za pomoci dronu</h4>
        </div>
        <div class="layer"></div>
      </div>
    </a>
  </div>
  <div class="line lineMobile"></div>
  <div class="listServices">
    <h2>o toto vše se postaráme</h2>
    <ul>
      <li>focení / filmování</li>
      <li>post-produkce</li>
      <li>tisk</li>
      <li>sdílení obsahu a rozšíření ho</li>
      <li>zvyšování dosahu</li>
    </ul>
  </div>
</section>
<div class="line"></div>
<section class="whereToGoNext">
  <div class="boxes">
    <div class="socialMediaBox wow fadeInLeft">
      <a title="Marketing na sociálních sítích" href="/marketing"></a>
      <h4>MARKETING NA<br>SOCIÁNÍCH SÍTÍCH</h4>
    </div>
    <div class="websiteDevelopmentBox wow fadeInDown">
      <a title="Produkce a Distribuce Podcastů" href="/podcasting"></a>
      <h4>PODCASTY<br>DISTRIBUCE</h4>
    </div>
    <div class="projectsBox wow fadeInRight">
      <a title="Projekty" href="/projects"></a>
      <h4>PROJEKTY</h4>
    </div>
  </div>
  <p>// kam dál?</p>
</section>
