<section class="bodyS">
  <div class="basicInfo">
    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy is difficult, as it must appeal to, entice, and convince consumers to take action. There is no magic formula to write perfect ad copy; it is based on a number of factors, including ad placement, demographic, even the consumer’s mood when they see your ad. So how is any writer supposed to pen a stunning piece of advertising cop.</p>
    <div class="projectWindow">
      <div class="description">
        <h3>BEUNIQUE</h3>
        <h4>Building strong brand awareness for a starting ecommerce site</h4>
      </div>
    </div>
  </div>
  <div class="listServices">
    <h2>we’ll take care of all those things</h2>
    <ul>
      <li>full profile/page management</li>
      <li>content creation</li>
      <li>branding</li>
      <li>research (competition, target customer, etc.)</li>
      <li>running multi-platform ads</li>
      <li>targeting</li>
      <li>graphics</li>
    </ul>
  </div>
</section>
<div class="line"></div>
<section class="whereToGoNext">
  <div class="boxes">
    <div class="videoPhotoBox">
      <h4>VIDEO & PHOTO<br>PRODUCTION</h4>
    </div>
    <div class="websiteDevelopmentBox">
      <h4>WEBSITE<br>DEVELOPMENT</h4>
    </div>
    <div class="projectsBox">
      <h4>PROJECTS</h4>
    </div>
  </div>
  <p>// where to go next?</p>
</section>
