<section class="bodyS">
  <div class="basicInfo">
    <p class="wow fadeInDown" data-wow-delay="0.8s">We have been doing this over 4 years. With that experience, we also have a good understanding of user behavior that enables us to guide your potential customers through the site and expose them to exact information you want them to know. We consider this kind of approach as one of the core parts of our philosophy. Together with a stunning design, using the newest technologies and approaches we'll make your next website really stand out in today's ever-changing world.</p>
    <div class="projectWindow simekostav wow fadeInRight" class="wow fadeInUp" data-wow-delay="0.8s">
      <div class="description">
        <h3>SIMEKOSTAV</h3>
        <h4>Making a modern website template for various real estate projects + drone photography</h4>
      </div>
      <div class="layer"></div>
    </div>
  </div>
  <div class="listServices">
    <h2>we'll take care of all those things</h2>
    <ul>
      <li>design, wireframe</li>
      <li>prototype</li>
      <li>coding</li>
      <li>deploying</li>
      <li>logo, illustrations, images, etc.</li>
      <li>copywriting</li>
      <li>SEO / marketing</li>
      <li>consultation</li>
    </ul>
  </div>
</section>
<div class="line"></div>
<section class="whereToGoNext">
  <div class="boxes">
    <div class="videoPhotoBox wow fadeInLeft">
      <a href="/video_photo_production"></a>
      <h4>VIDEO & PHOTO<br>PRODUCTION</h4>
    </div>
    <div class="projectsBox wow fadeInDown">
      <a href="/projects"></a>
      <h4>PROJECTS</h4>
    </div>
    <div class="socialMediaBox wow fadeInRight">
      <a href="/social_media_marketing"></a>
      <h4>SOCIAL MEDIA<br>MARKETING</h4>
    </div>
  </div>
  <p>// where to go next?</p>
</section>
