<section class="bodyS">
  <div class="basicInfo">
    <div class="basicInfoTextInner">
      <p class="wow fadeInDown" data-wow-delay="0.8s">Tradiční marketing už dávno nefunguje tak jak by měl. Dokonce i investice do modernějších metod jako jsou Google Ads přestávají dávat smysl. Sociání sítě ale představují úplně jiný způsob jak se zviditelnit mezi lidmi. Jedná se o přímé spojení mezi vámi a vaším zákazníkem. K dispozici máte tisíce možností jak přesně oslovit cílovou skupinu lidí na základě: polohy, věku, koníčků, povolání a tak dále. Distribuce samotné reklamy ještě stále nestojí moc peněz, navíc tu máte možnost aby se reklama šířila sama zadarmo, organicky. Všichni jsme už dávno každý den na internetu - stejně tak by měla být i vaše firma, samotné webové stránky už dávno nestačí.</p>
    </div>
    <a href="/beunique">
      <div class="projectWindow beunique wow fadeInRight" class="wow fadeInUp" data-wow-delay="0.8s">
        <div class="description">
          <h3>BEUNIQUE</h3>
          <h4>Dostávání začínajícího e-shopu do podvědomí lidí s pomocí sociálních sítí</h4>
        </div>
        <div class="layer"></div>
      </div>
    </a>
  </div>
  <div class="line lineMobile"></div>
  <div class="listServices">
    <h2>o všechy tyto věci se postaráme</h2>
    <ul>
      <li>správa vašeho profilu/stránky</li>
      <li>produkce obsahu</li>
      <li>branding</li>
      <li>analýza konkurence, cílové skupiny a pod.</li>
      <li>reklamy na většině platformách</li>
      <li>research</li>
    </ul>
  </div>
</section>
<div class="line"></div>
<section class="whereToGoNext">
  <div class="boxes">
    <div class="videoPhotoBox wow fadeInLeft">
      <a href="/video_photo_production"></a>
      <h4>VIDEO & PHOTO<br>PRODUKCE</h4>
    </div>
    <div class="websiteDevelopmentBox wow fadeInDown">
      <a href="/website_development"></a>
      <h4>VÝVOJ<br>WEBOVÝCH STRÁNEK</h4>
    </div>
    <div class="projectsBox wow fadeInRight">
      <a href="/projects"></a>
      <h4>PROJEKTY</h4>
    </div>
  </div>
  <p>// kam dál?</p>
</section>
