<section class="bodyS">
  <div class="basicInfo">
    <p class="wow fadeInDown" data-wow-delay="0.8s">Traditional marketing methods don't work anymore. Even investing in things that seem to be more modern like Google Ads doesn't make sense for most people. Running ads on social media is something totally different. It's a direct connection between you and your customer, you'll have an unlimited amount of choices to target people based on demographics, interests, etc. + if it's done right, your campaign will grow organically, for free! Just because people really enjoy the content.</p>
    <div class="projectWindow beunique wow fadeInRight" class="wow fadeInUp" data-wow-delay="0.8s">
      <div class="description">
        <h3>BEUNIQUE</h3>
        <h4>Building a strong brand awareness for a starting e-commerce site</h4>
      </div>
      <div class="layer"></div>
    </div>
  </div>
  <div class="listServices">
    <h2>we'll take care of all those things</h2>
    <ul>
      <li>full profile/page management</li>
      <li>content creation</li>
      <li>branding</li>
      <li>research (competition, target customer, etc.)</li>
      <li>multi-platform ads</li>
      <li>targeting</li>
      <li>analytics</li>
    </ul>
  </div>
</section>
<div class="line"></div>
<section class="whereToGoNext">
  <div class="boxes">
    <div class="videoPhotoBox wow fadeInLeft">
      <a href="/video_photo_production"></a>
      <h4>VIDEO & PHOTO<br>PRODUCTION</h4>
    </div>
    <div class="websiteDevelopmentBox wow fadeInDown">
      <a href="/website_development"></a>
      <h4>WEBSITE<br>DEVELOPMENT</h4>
    </div>
    <div class="projectsBox wow fadeInRight">
      <a href="/projects"></a>
      <h4>PROJECTS</h4>
    </div>
  </div>
  <p>// where to go next?</p>
</section>
