<section class="bodyS">
  <div class="basicInfo">
    <p class="wow fadeInDown" data-wow-delay="0.8s">Increasing prosperity in our lives can be accomplished by having the right frame of mind. The truth is, our thoughts are very powerful. They are capable of influencing every aspect of our daily lives, from our physical health to our social behaviors. I’m sure you’ve heard the adage, “As you think, so shall.</p>
    <div class="projectWindow jezdeckaStaj wow fadeInRight" class="wow fadeInUp" data-wow-delay="0.8s">
      <div class="description">
        <h3>JEZDECKÁ STÁJ SKVRNOV</h3>
        <h4>Making stunning pictures that shift the business to another level</h4>
      </div>
      <div class="layer"></div>
    </div>
  </div>
  <div class="listServices">
    <h2>we’ll take care of all those things</h2>
    <ul>
      <li>shooting</li>
      <li>post-production</li>
      <li>prints</li>
      <li>sharing process</li>
      <li>boosting reach</li>
    </ul>
  </div>
</section>
<div class="line"></div>
<section class="whereToGoNext">
  <div class="boxes">
    <div class="socialMediaBox wow fadeInLeft">
      <h4>SOCIAL MEDIA<br>MARKETING</h4>
    </div>
    <div class="websiteDevelopmentBox wow fadeInDown">
      <h4>WEBSITE<br>DEVELOPMENT</h4>
    </div>
    <div class="projectsBox wow fadeInRight">
      <h4>PROJECTS</h4>
    </div>
  </div>
  <p>// where to go next?</p>
</section>
