<section class="bodyS">
  <div class="basicInfo">
    <div class="basicInfoTextInner">
      <p class="wow fadeInDown" data-wow-delay="0.8s">S tvorbou webových stránek máme již dlouholeté zkušenosti. Mezi naše nejsilnější stránky jistě patří porozumnění zákazníkovy a toho co na stránce provádí. To nám ho umožňuje vystavit přeště takovým informacím co potřebujete a přispůsobit celý web právě na jeho chování. Tento přístup považujeme jako jeden z klíčových prvků naší filosofie. Společně s čistým designem, nejnovějšími technologiemi a naším přátelským přístupem ke každému klientovy si můžete být jisti že lepší služby na vývoj webu nikde neseženete.</p>
    </div>
    <div class="projectWindow simekostav wow fadeInRight" class="wow fadeInUp" data-wow-delay="0.8s">
      <div class="description">
        <h3>SIMEKOSTAV</h3>
        <h4>Tvorba jednotné webové šablony pro více developerských projektů</h4>
      </div>
      <div class="layer"></div>
    </div>
  </div>
  <div class="line lineMobile"></div>
  <div class="listServices">
    <h2>o všechy tyto věci se postaráme</h2>
    <ul>
      <li>design, wireframe</li>
      <li>prototyp webu</li>
      <li>kódování</li>
      <li>spuštění webu</li>
      <li>logo, ilustrace, obrázky, atd.</li>
      <li>psaní textů</li>
      <li>SEO, marketing</li>
      <li>konzultace</li>
    </ul>
  </div>
</section>
<div class="line"></div>
<section class="whereToGoNext">
  <div class="boxes">
    <div class="videoPhotoBox wow fadeInLeft">
      <a href="/video_photo_production"></a>
      <h4>VIDEO & PHOTO<br>PRODUKCE</h4>
    </div>
    <div class="projectsBox wow fadeInDown">
      <a href="/projects"></a>
      <h4>PROJEKTY</h4>
    </div>
    <div class="socialMediaBox wow fadeInRight">
      <a href="/social_media_marketing"></a>
      <h4>MARKETING NA<br>SOCIÁNÍCH SÍTÍCH</h4>
    </div>
  </div>
  <p>// where to go next?</p>
</section>
