<section class="bodyS bodyPhotoVideo">
  <div class="basicInfo">
    <div class="basicInfoTextInner">
      <p class="wow fadeInDown" data-wow-delay="0.8s">Milujeme všecho co se týká našeho foťáku. Je jedno jestli se zrovna jedná o jednoduché focení vašeho produktu, točení nemovitosti dronem, 360° nebo nějaké super složité video reklamy - vše co nabízíme se snažíme dělat s co nejvetší kvalitou a zároveň zůstat kreativní. Zárověn celou tvorbu vždy speciálně příspůsobíme koncovéhu uživateli pro větší efektivitu.
V dnešním světě hraje vizuální obsah jistě tu nejdůležitější roli ze všech. Už dávno si nikdo nečte váš web, lidi si na vás vytváří názor ve slomkách vteřin na základě věcí které je přirozeně zaujmou. Jediná cesta k tomu jak si dnes získat pozornost zákazníka v drtivé většině začíná u nějakého krátkého videa nebo zajímavé fotky na instagramu. Investice do prezentace svých produktů je určitě věc nad kterou by měla každá firma uvažovat.</p>
    </div>
    <div class="projectWindow jezdeckaStaj wow fadeInRight" class="wow fadeInUp" data-wow-delay="0.8s">
      <div class="description">
        <h3>JEZDECKÁ STÁJ SKVRNOV</h3>
        <h4>Produkce profesioálního promo videa s pomocí dronu</h4>
      </div>
      <div class="layer"></div>
    </div>
  </div>
  <div class="line lineMobile"></div>
  <div class="listServices">
    <h2>o všechy tyto věci se postaráme</h2>
    <ul>
      <li>focení / filmování</li>
      <li>post-produkce</li>
      <li>tisk</li>
      <li>sdílení obsahu a dostávání ho mezi lidi</li>
      <li>zvyšování dosahu</li>
    </ul>
  </div>
</section>
<div class="line"></div>
<section class="whereToGoNext">
  <div class="boxes">
    <div class="socialMediaBox wow fadeInLeft">
      <a href="/social_media_marketing"></a>
      <h4>MARKETING NA<br>SOCIÁNÍCH SÍTÍCH</h4>
    </div>
    <div class="websiteDevelopmentBox wow fadeInDown">
      <a href="/website_development"></a>
      <h4>VÝVOJ<br>WEBOVÝCH STRÁNEK</h4>
    </div>
    <div class="projectsBox wow fadeInRight">
      <a href="/projects"></a>
      <h4>PROJEKTY</h4>
    </div>
  </div>
  <p>// kam dál?</p>
</section>
