<section class="coreValues" id="corevalues">
  <div class="leftValue">
    <div class="heading">
      <h2>time flexibility</h2>
      <img src="assets/img/e_timer.png" alt="timer">
    </div>
    <p>Tattooed woke hell of, tousled vice yr af kombucha. Typewriter glossier selvage single-origin coffee, cronut kogi swag. You probably haven't heard of them pug hoodie sustainable messenger.<br><br>Letterpress food truck readymade 90's intelligentsia before they sold out affogato schlitz chicharrones. Pickled umami cred austin kinfolk woke.</p>
  </div>
  <div class="rightValue">
    <p>Photo booth mixtape blog leggings, health goth poutine portland raw denim heirloom vice stumptown post-ironic. Pop-up art party twee paleo humblebrag VHS four heard of them locavore.<br><br>Pickled thundercats actually franzen cronut edison bulb, truffaut kogi. Literally bespoke tacos narwhal tumblr listicle fanny pack hella intelligentsia.</p>
    <div class="heading">
      <h2>following new trends</h2>
      <img src="assets/img/e_selfie.png" alt="selfie">
    </div>
  </div>
  <div class="leftValue">
    <div class="heading">
      <h2>being cool</h2>
      <img src="assets/img/e_sunglasses.png" alt="sunglasses">
    </div>
    <p>Blog activated charcoal narwhal, gochujang drinking vinegar stumptown polaroid ennui jean shorts chillwave vinyl scenester. Fam etsy master cleanse roof party, skateboard fanny pack hell of free.<br><br>Cardigan franzen echo park. Chillwave listicle street art venmo butcher vape hexagon skateboard irony kale. Chips hashtag flexitarian unicorn taiyaki shabby chic.</p>
  </div>
</section>
