<section class="coreValues" id="corevalues">
  <div class="leftValue wow fadeIn" data-wow-delay="0.2s">
    <div class="heading wow fadeInLeft" data-wow-delay="0.4s">
      <h2>time flexibility</h2>
      <img src="assets/img/e_timer.png" alt="timer">
    </div>
    <p>Since our team is almost completely made out of students, we don't necessarily have fixed working schedule. That's why adapting to our clients isn't hard at all. In fact, we consider it as a fundamental part of our mindset.<br><br>Forget about those times when making just a small change took your developer days. We deliver on most of our client's requests within 8 hours and respond almost immediately.</p>
  </div>
  <div class="line"></div>
  <div class="rightValue wow fadeIn" data-wow-delay="0.3s">
    <div class="headingMobile displayMobile wow fadeInRight" data-wow-delay="0.5s">
      <img class="selfieTrends" src="assets/img/e_selfie.png" alt="selfie">
      <h2>following new trends</h2>
    </div>
    <p>In the world where everything is changing faster than ever, trying out new technologies, platforms, methods or approaches is crucial to a long-term success of every forward-thinking company.<br><br>We love getting better every day and we're not afraid of implementing those changes right into your projects.</p>
    <div class="heading headingDesktop wow fadeInRight" data-wow-delay="0.5s">
      <h2>following new trends</h2>
      <img src="assets/img/e_selfie.png" alt="selfie">
    </div>
  </div>
  <div class="line"></div>
  <div class="leftValue wow fadeIn" data-wow-delay="0.4s">
    <div class="heading wow fadeInLeft" data-wow-delay="0.6s">
      <h2>being cool</h2>
      <img src="assets/img/e_sunglasses.png" alt="sunglasses">
    </div>
    <p>We believe that a combination of professionalism and friendly approach is the key to doing a good business. Unlike other companies, we're always open for changes, willing to adjust anything to make you happy in the end.<br><br>You can reach us anytime, even with questions that don't necessarily need to be related to our deal. We'll be more than happy to help.</p>
  </div>
</section>
