<section class="coreValues" id="corevalues">
  <div class="leftValue wow fadeIn" data-wow-delay="0.2s">
    <div class="heading wow fadeInLeft" data-wow-delay="0.4s">
      <h2>časová flexibilita</h2>
      <img src="assets/img/e_timer.png" alt="timer">
    </div>
    <p>Tím, že jsou v našem týmu jen mladí studenti, není problém časově se přizpůsobit právě vám a vašemu projektu. Považujeme to dokonce jako jednu z našich nejdůležitějších zásad.
Rovnou zapomeňte na ty časy, kdy i ta nejmenší změna zabrala dny. Na většinu vašich požadavků reagujeme téměř okamžitě a vyřídíme jej v průměru do 8 hodin.</p>
  </div>
  <div class="line"></div>
  <div class="rightValue wow fadeIn" data-wow-delay="0.3s">
    <div class="headingMobile displayMobile wow fadeInRight" data-wow-delay="0.5s">
      <img class="selfieTrends" src="assets/img/e_selfie.png" alt="selfie">
      <h2>nové trendy</h2>
    </div>
    <p>Dnešní svět se neskutečně rychle mění. Každý den se začíná používat úplně něco jiného než den předchozí - možná nějaká nová technologie, platforma, taktika a tak dále. Neotestovat je a popřípadě tyto věci nepoužít ve vlastním projektu, by byla opravdu veliká chyba. To by mělo platit nejenom pro nás, ale i pro všechny ostatní firmy, co se jen slepě nesnaží o krátkodobý profit. My tedy každý den bedlivě sledujeme všechny trendy a nenecháme si nic utéct.</p>
    <div class="heading headingDesktop wow fadeInRight" data-wow-delay="0.5s">
      <h2>nové trendy</h2>
      <img src="assets/img/e_selfie.png" alt="selfie">
    </div>
  </div>
  <div class="line"></div>
  <div class="leftValue wow fadeIn" data-wow-delay="0.4s">
    <div class="heading wow fadeInLeft" data-wow-delay="0.6s">
      <h2>jsme v pohodě</h2>
      <img src="assets/img/e_sunglasses.png" alt="sunglasses">
    </div>
    <p>Věříme, že kombinace profesionálního a přátelského přístupu ke klientovi vždy vede k lepšímu businessu. Na rozdíl od ostatních agentur, jsme vždy otevřeni ke změnám a ochotni vše přepracovat podle vašich představ.<br><br>Můžete nás kontaktovat se vším s čím si nevíte rady, i s věcmi, které nutně nemusí souviset s naší nabídkou. Vždy vám moc rádi pomůžeme.</p>
  </div>
</section>
