<footer>
  <div class="contacts wow fadeIn" data-wow-delay="0.2s" id="contacts">
    <h2>Zveme vás na kafe<br>Pojďte se spojit!</h2>
    <ul>
      <li>
        <img src="assets/img/e_phone.png" alt="phone">
        <span>
          <a title="telefon" href="tel:+420605176305">+420 605 176 305</a>
        </span>
      </li>
      <li>
        <img src="assets/img/e_email.png" alt="email">
        <span>
          <a title="email" href="mailto:jiri@palmmedia.cz">jiri@palmmedia.cz</a>
        </span>
      </li>
      <li>
        <img src="assets/img/e_social.png" alt="social">
        <span>
          <a title="facebook" href="https://www.facebook.com/palmmedia.co/">facebook</a>
          /
          <a title="twitter" href="https://twitter.com/palmmediaco/">twitter</a>
          /
          <a title="instagram" href="https://www.instagram.com/palmmedia.co/">instagram</a>
          /
          <a title="youtube" href="https://www.youtube.com/channel/UCqHmEig9z3mL85QjJ2IltYw">youtube</a>
        </span>
      </li>
    </ul>
  </div>
  <div class="actualFooter wow fadeInDown" data-wow-delay="0.2s">
    <p>Made in Prague, Czech Republic <img src="assets/img/e_czech.png" alt="czech"></p>
    <span>© 2018 PalmMedia s.r.o.</span>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/js/wow.min.js" charset="utf-8"></script>
<script src="assets/js/app.min.js?a=1" charset="utf-8"></script>
