<footer>
  <div class="contacts wow fadeIn" data-wow-delay="0.2s" id="contacts">
    <h2>Do you like us so far?<br>Let’s connect!</h2>
    <ul>
      <li>
        <img src="assets/img/e_phone.png" alt="phone">
        <span>
          <a href="tel:+420605176305">+420 605 176 305</a>
        </span>
      </li>
      <li>
        <img src="assets/img/e_email.png" alt="email">
        <span>
          <a href="mailto:jiristepanek@hotmail.com">jiristepanek@hotmail.com</a>
        </span>
      </li>
      <li>
        <img src="assets/img/e_social.png" alt="social">
        <span>
          <a href="#">facebook</a>
          /
          <a href="#">twitter</a>
          /
          <a href="#">instagram</a>
        </span>
      </li>
    </ul>
  </div>
  <div class="actualFooter wow fadeInDown" data-wow-delay="0.2s">
    <p>Made in Prague, Czech Republic <img src="assets/img/e_czech.png" alt="czech"></p>
    <span>© 2018 PalmMedia s.r.o.</span>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/js/wow.min.js" charset="utf-8"></script>
<script src="assets/js/app.js" charset="utf-8"></script>
