<header>
  <a class="logo" href="/">
    <img class="logoB" src="assets/img/logo.svg" alt="PalmMedia logo">
    <img class="logoW" src="assets/img/logo_w.svg" alt="PalmMedia logo">
  </a>
  <ul>
    <li>
      <a href="/projects">projects</a>
    </li>
    <li>
      <a>what we do</a>
    </li>
    <li>
      <a href="#corevalues">core values</a>
    </li>
    <li>
      <a href="#contacts">contact us</a>
    </li>
    <li class="palm">
      <img src="assets/img/e_palm.png" alt="palm">
    </li>
  </ul>
</header>
<div class="outerHeader"></div>
