<header>
  <div class="headerInner">
    <a class="logo" href="/">
      <img class="logoB" src="assets/img/logo.svg" alt="PalmMedia logo">
      <img class="logoW" src="assets/img/logo_w.svg" alt="PalmMedia logo">
    </a>
    <ul class="regMenu desktopMenu">
      <li>
        <a href="/projects">projekty</a>
      </li>
      <li>
        <a class="whatWeDo">co děláme</a>
      </li>
      <li>
        <a class="specializedServices">extra</a>
      </li>
      <li>
        <a href="/#corevalues">naše hodnoty</a>
      </li>
      <li>
        <a href="#contacts">kontaktujte nás</a>
      </li>
      <li class="palm">
        <a href="https://palmmedia.co/">
          <img src="assets/img/e_uk.png" alt="english version">
        </a>
      </li>
    </ul>
    <ul class="submenu desktopMenu whatWeDoMenu">
      <li>
        <a href="/social_media_marketing">marketing na sociálních sítích</a>
      </li>
      <li>
        <a href="/video_photo_production">video &amp; photo produkce</a>
      </li>
      <li>
        <a href="/website_development">vývoj webových stránek</a>
      </li>
      <li>
        <a class="closeButton">zavřít</a>
      </li>
    </ul>
    <ul class="submenu servicesMenu">
      <li>
        <a href="/reborn">znovuzrození vaší firmy</a>
      </li>
      <li>
        <a>palmreality (pracujeme na tom)</a>
      </li>
      <li>
        <a href="/voice">zvuk</a>
      </li>
      <li>
        <a class="closeButton">zavřít</a>
      </li>
    </ul>
    <ul class="mobileMenu">
      <li>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</header>
