<section class="jumbotron">
  <div class="jumbotronPart1">
    <h1>let's make you<br><span>shine</span></h1>
    <div>
      <p>We specialize in making effective social media marketing campaigns, content production, website development and business branding</p>
      <a class="button" href="#contacts">LET'S GET IN TOUCH</a>
    </div>
  </div>
  <div class="jumbotronPart2">
    <div class="slider">
      <ul>
        <li>
          <div class="projectWindow simekostav">
            <div class="description">
              <h3>SIMEKOSTAV</h3>
              <h4>Making a modern website template for various real estate projects + drone photography</h4>
            </div>
            <div class="layer"></div>
          </div>
        </li>
        <li>
          <div class="projectWindow lanistae">
            <div class="description">
              <h3>LANISTAE</h3>
              <h4>The biggest listing website for personal trainers in the Czech Republic</h4>
            </div>
            <div class="layer"></div>
          </div>
        </li>
        <li>
          <div class="projectWindow beunique">
            <div class="description">
              <h3>BEUNIQUE</h3>
              <h4>Building a strong brand awareness for a starting e-commerce site</h4>
            </div>
            <div class="layer"></div>
          </div>
        </li>
        <li>
          <div class="projectWindow jezdeckaStaj">
            <div class="description">
              <h3>JEZDECKÁ STÁJ SKVRNOV</h3>
              <h4>Making a stunning aerial content that shifted the business to another level</h4>
            </div>
            <div class="layer"></div>
          </div>
        </li>
      </ul>
    </div>
    <p class="wow fadeInDown">// those are some projects we’ve worked on</p>
  </div>
</section>
