<section class="jumbotron">
  <div class="jumbotronPart1">
    <h1>let's make you<br><span>shine</span></h1>
    <div class="mobileSplit wow fadeInLeft" data-wow-delay="1.5s"></div>
    <div class="descriptionJumb">
      <p>Specializujeme se na tvorbu marketingových kampaní na sociálních sítích, video & foto produkci, vývoj webových stránek a branding vašeho projektu.</p>
      <a class="button" href="#contacts">KONTAKTUJTE NÁS</a>
    </div>
  </div>
  <div class="jumbotronPart2">
    <div class="slider">
      <ul>
        <li>
          <div class="projectWindow simekostav">
            <div class="description">
              <h3>SIMEKOSTAV</h3>
              <h4 class="displayDesktop">Tvorba jednotné webové šablony pro více developerských projektů</h4>
              <h4 class="displayMobile">Tvorba jednotné webové šablony pro více developerských projektů</h4>
            </div>
            <div class="layer"></div>
          </div>
        </li>
        <li>
          <div class="projectWindow lanistae">
            <div class="description">
              <h3>LANISTAE</h3>
              <h4>Největší český portál v oblasti výběru osobního trenéra na všechny možné sporty</h4>
            </div>
            <div class="layer"></div>
          </div>
        </li>
        <li>
          <div class="projectWindow beunique">
            <div class="description">
              <h3>BEUNIQUE</h3>
              <h4>Dostávání začínajícího e-shopu do podvědomí lidí s pomocí sociálních sítí</h4>
            </div>
            <div class="layer"></div>
          </div>
        </li>
        <li>
          <div class="projectWindow jezdeckaStaj">
            <div class="description">
              <h3>JEZDECKÁ STÁJ SKVRNOV</h3>
              <h4>Produkce profesioálního promo videa s pomocí dronu</h4>
            </div>
            <div class="layer"></div>
          </div>
        </li>
      </ul>
    </div>
    <p id="c0revalues" class="wow fadeInDown">// toto je pár projektů na kterých jsme pracovali</p>
  </div>
</section>
