<section class="jumbotron">
  <div class="jumbotronPart1">
    <h1>let's make you<br><span>shine</span></h1>
    <div>
      <p>We specialize on making effective social media marketing campaigns, content production, websites and business branding</p>
      <a class="button" href="#contacts">LET'S GET IN TOUCH</a>
    </div>
  </div>
  <div class="jumbotronPart2">
    <div class="slider">
      <ul>
        <li>
          <div class="projectWindow">
            <div class="description">
              <h3>SIMEKOSTAV</h3>
              <h4>Managing all the digital assets that drive the sales</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="projectWindow">
            <div class="description">
              <h3>LANISTAE</h3>
              <h4>The biggest listing website for coaches in the Czech Republic</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="projectWindow">
            <div class="description">
              <h3>BEUNIQUE</h3>
              <h4>Building strong brand awareness for a starting ecommerce site</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="projectWindow">
            <div class="description">
              <h3>JEZDECKÁ STÁJ SKVRNOV</h3>
              <h4>Making stunning pictures that shift the business to another level</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <p>// those are some of the projects we’ve worked on</p>
  </div>
</section>
