<div class="outerHeader"></div>
<section class="jumbotronS">
  <div class="ornament1"></div>
  <div class="ornament2"></div>
  <div class="ornament3"></div>
  <div class="jumbotronSInner">
    <h1 class="wow fadeInUp" data-wow-delay="0.5s">social media<br><span>marketing</span></h1>
    <p class="wow fadeIn" data-wow-delay="0.5s">This type of marketing is one of the most under-priced and at the same time the most effective method how to reach out your potential customers.</p>
  </div>
</section>
