<section class="jumbotron">
  <div class="jumbotronPart1_middleman">
    <h1>nechte to<br><span>na nás</span></h1>
    <div class="mobileSplit wow fadeInLeft" data-wow-delay="0.5s"></div>
    <div class="descriptionJumb">
      <p>Projekt Middleman je perfektní řešení pro každou firmu nebo jedince, kteří se snaží v dnešní době vyniknout na sociálních sítích.</p>
      <a title="Contacts" class="button" href="#contacts">MÁTE OTÁZKY?</a>
    </div>
  </div>
  <div class="prezentace velkaPrezentace">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ__g0c21U9VNci8Pu08KBBC0X8LI6pYQPV5tU3vwz3mBcEBwWu59DlHnyzRsxXfoCiFo81ALiVLPvl/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1140px" height="670" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  <div class="prezentace stredniPrezentace">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ__g0c21U9VNci8Pu08KBBC0X8LI6pYQPV5tU3vwz3mBcEBwWu59DlHnyzRsxXfoCiFo81ALiVLPvl/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  <div class="prezentace malaPrezentace">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ__g0c21U9VNci8Pu08KBBC0X8LI6pYQPV5tU3vwz3mBcEBwWu59DlHnyzRsxXfoCiFo81ALiVLPvl/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  <div class="prezentace pidiPrezentace">
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQ__g0c21U9VNci8Pu08KBBC0X8LI6pYQPV5tU3vwz3mBcEBwWu59DlHnyzRsxXfoCiFo81ALiVLPvl/embed?start=false&loop=false&delayms=3000" frameborder="0" width="320" height="209" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
</section>
