<section class="mobileMenuSection">
  <a class="logo" href="/">
    <img class="logoB" src="assets/img/logo_w.svg" alt="PalmMedia logo">
  </a>
  <a class="closeButton" data-wow-delay="0.3s">close</a>
  <ul>
    <li class="wow fadeInDown mobileMenuSectionLi1" data-wow-delay="0.5s">
      <a href="/projects">projects</a>
    </li>
    <li class="wow fadeInDown mobileMenuSectionLi2" data-wow-delay="0.6s">
      <a href="/social_media_marketing">social media marketing</a>
    </li>
    <li class="wow fadeInDown mobileMenuSectionLi3" data-wow-delay="0.7s">
      <a href="/video_photo_production">video &amp; photo production</a>
    </li>
    <li class="wow fadeInDown mobileMenuSectionLi4" data-wow-delay="0.8s">
      <a href="/website_development">website development</a>
    </li>
    <li class="wow fadeInDown mobileMenuSectionLi5" data-wow-delay="0.9s">
      <a href="/#corevalues">core values</a>
    </li>
    <li class="wow fadeInDown mobileMenuSectionLi6" data-wow-delay="1s">
      <a href="#contacts">contact us</a>
    </li>
  </ul>
</section>
