<section class="mobileMenuSection">
  <a class="logo" href="/">
    <img class="logoB" src="assets/img/logo_w.svg" alt="PalmMedia logo">
  </a>
  <a class="closeButton" data-wow-delay="0.3s">zavřít</a>
  <ul>
    <li class="mobileMenuSectionLi" data-wow-delay="0.5s">
      <a href="/projects">projekty</a>
    </li>
    <div>
      <li class="mobileMenuSectionLi" data-wow-delay="0.6s">
        <a>co děláme</a>
      </li>
      <div class="submenuMobile">
        <li class="mobileMenuSectionLi" data-wow-delay="0.7s">
          <a href="/social_media_marketing">marketing na sociálních sítích</a>
        </li>
        <li class="mobileMenuSectionLi" data-wow-delay="0.8s">
          <a href="/video_photo_production">video &amp; photo produkce</a>
        </li>
        <li class="mobileMenuSectionLi" data-wow-delay="0.9s">
          <a href="/website_development">vývoj webových stránek</a>
        </li>
      </div>
      <li class="mobileMenuSectionLi" data-wow-delay="1s">
        <a>extras</a>
      </li>
      <div class="submenuMobile">
        <li class="mobileMenuSectionLi" data-wow-delay="1.1s">
          <a href="/reborn">znovuzrození vaší firmy</a>
        </li>
        <li class="mobileMenuSectionLi" data-wow-delay="1.2s">
          <a>palmreality (pracujeme na tom)</a>
        </li>
        <li class="mobileMenuSectionLi" data-wow-delay="1.3s">
          <a href="/voice">zvuk</a>
        </li>
      </div>
    </div>
    <li class="mobileMenuSectionLi" data-wow-delay="1.4s">
      <a href="/#c0revalues">naše hodnoty</a>
    </li>
    <li class="mobileMenuSectionLi" data-wow-delay="1.5s">
      <a href="#contacts">kontaktujte nás</a>
    </li>
  </ul>
</section>
