<h1 class="cenikNadpis wow fadeInDown">Ceník služeb</h1>
<div class="cenik">
  <div class="ceny cenikSocialMedia">
    <table>
      <tr class="prvniRadek"><th class="nazevSekce">sociální sítě</th><th class="cenaSekce">cena</th></tr>
      <tr class="druhyRadek"><td>malá kampaň s rozpočtem do 10 000 Kč</td><td>7 000 Kč měsíčně</td></tr>
      <tr><td>střední kampaň s rozpočtem do 30 000 Kč</td><td>12 000 Kč měsíčně</td></tr>
      <tr><td>velká kampaň s rozpočtem od 30 000 Kč</td><td>domluvou</td></tr>
      <tr><td>konzultace / školení / tvorba strategie / atd.</td><td>první hodina 990 Kč, dále 490 Kč</td></tr>
    </table>
  </div>
  <div class="ceny cenikPodcasty">
    <table>
      <tr class="prvniRadek"><th class="nazevSekce">podcasty</th><th class="cenaSekce">cena</th></tr>
      <tr class="druhyRadek"><td>krátká podcast epizoda, pouze zvuk</td><td>cca 1000 Kč za díl</td></tr>
      <tr><td>průměrná podcast epizoda, video + zvuk</td><td>cca 3000 Kč za díl</td></tr>
      <tr><td>dlouhá podcast epizoda + dodatečný obsah na sociální sítě</td><td>cca 5000 Kč za díl</td></tr>
      <tr><td>konzultace / tvorba strategie / nastavení / atd.</td><td>první hodina 990 Kč, dále 490 Kč</td></tr>
    </table>
  </div>
  <div class="ceny cenikOstatni">
    <table>
      <tr class="prvniRadek"><th class="nazevSekce">ostatní služby</th><th class="cenaSekce">cena</th></tr>
      <tr class="druhyRadek"><td>projekt middleman</td><td>20 000 Kč - 60 000 Kč měsíčně</td></tr>
      <tr><td>tvorba obsahu na sociální sítě</td><td>domluvou (cca 400Kč / video)</td></tr>
      <tr><td>grafika / úprava webu / atd.</td><td>domluvou</td></tr>
    </table>
  </div>
</div>
