<section class="completedProjects">
  <div class="heading">
    <h1>completed <span>projects</span></h1>
    <p>the work we did for our clients</p>
  </div>
  <div class="projectList">
    <ul>
      <li>
        <div class="projectWindow simekostav">
          <div class="description">
            <h3>SIMEKOSTAV</h3>
            <h4>Managing all the digital assets that drive the sales</h4>
          </div>
          <div class="layer"></div>
        </div>
      </li>
      <li>
        <div class="projectWindow lanistae">
          <div class="description">
            <h3>LANISTAE</h3>
            <h4>The biggest listing website for coaches in the Czech Republic</h4>
          </div>
          <div class="layer"></div>
        </div>
      </li>
      <li>
        <div class="projectWindow beunique">
          <div class="description">
            <h3>BEUNIQUE</h3>
            <h4>Building strong brand awareness for a starting ecommerce site</h4>
          </div>
          <div class="layer"></div>
        </div>
      </li>
      <li>
        <div class="projectWindow jezdeckaStaj">
          <div class="description">
            <h3>JEZDECKÁ STÁJ SKVRNOV</h3>
            <h4>Making stunning pictures that shift the business to another level</h4>
          </div>
          <div class="layer"></div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="sideHustle">
  <div class="heading">
    <h1 class="wow fadeInUp" data-wow-delay="0.2s">side <span>hustle</span></h1>
    <p class="wow fadeIn" data-wow-delay="0.2s">that’s the other stuff we do in our free time</p>
  </div>
  <div class="projectList">
    <div class="vimeo wow fadeInUp" data-wow-delay="0.2s">
      <a href="https://vimeo.com/user23070696" class="socialLogo"><img src="assets/img/vimeo.png" alt="vimeo"></a>
      <ul class="videos">
        <li>
          <a href="https://vimeo.com/221325250">
            <div class="vimeoVideo romania">
              <div class="description">
                <span>STYVEKDRTIC</span>
                <h4>Snowmobiles - Romania 2017</h4>
              </div>
              <i class="fa fa-play" aria-hidden="true"></i>
              <div class="layer"></div>
            </div>
          </a>
        </li>
        <li>
          <a href="https://vimeo.com/196746633">
            <div class="vimeoVideo zauchensee">
              <div class="description">
                <span>STYVEKDRTIC</span>
                <h4>Zauchensee</h4>
              </div>
              <i class="fa fa-play" aria-hidden="true"></i>
              <div class="layer"></div>
            </div>
          </a>
        </li>
        <li>
          <a href="https://vimeo.com/187870403">
            <div class="vimeoVideo justAnotherDay">
              <div class="description">
                <span>STYVEKDRTIC</span>
                <h4>Just another day</h4>
              </div>
              <i class="fa fa-play" aria-hidden="true"></i>
              <div class="layer"></div>
            </div>
          </a>
        </li>
      </ul>
      <ul class="videosMobile">
        <li>
          <div class="romania"></div>
        </li>
        <li>
          <div class="zauchensee"></div>
        </li>
        <li>
          <div class="justAnotherDay"></div>
        </li>
      </ul>
    </div>
    <div class="instagram wow fadeInUp" data-wow-delay="0.2s">
      <a href="https://www.instagram.com/styvekdrtic/" class="socialLogo"><img src="assets/img/instagram.png" alt="instagram"><span>Instagram</span></a>
      <ul class="pictures">
        <li>
          <a href="#">
            <div class="photo1"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="photo2"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="photo3"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="photo4"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="photo5"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="photo6"></div>
          </a>
        </li>
      </ul>
      <ul class="picturesMobile">
        <li>
          <a href="#">
            <div class="photo1"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="photo2"></div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="photo3"></div>
          </a>
        </li>
      </ul>
      <a class="button" href="#">SEE MORE</a>
    </div>
    <div class="others">
      <div class="github wow fadeInLeft" data-wow-delay="0.2s">
        <a href="#" class="socialLogo"><img src="assets/img/github.png" alt="github"><span>GitHub</span></a>
        <br>
        <a class="button" href="#">LINK</a>
      </div>
      <div class="medium wow fadeInRight" data-wow-delay="0.2s">
        <a href="#" class="socialLogo"><span>Medium</span><img src="assets/img/medium.png" alt="medium"></a>
        <br>
        <a class="button" href="#">LINK</a>
      </div>
    </div>
  </div>
</section>
