<section class="completedProjects">
  <div class="heading">
    <h1>dokončené <span>projekty</span></h1>
    <p>práce které jsme dělali pro naše klienty</p>
  </div>
  <div class="projectList">
    <ul>
      <li>
        <a title="Dennis Rodman" href="/ontherebound">
          <div class="projectWindow ontherebound">
            <div class="description">
              <h3>DENNIS RODMAN</h3>
              <h4>Produkce podcastu Dennise Rodmana. Show se jmenuje "On The Rebound".</h4>
            </div>
            <div class="layer"></div>
          </div>
        </a>
      </li>
      <li>
        <a title="Simekostav" href="/simekostav">
          <div class="projectWindow simekostav">
            <div class="description">
              <h3>SIMEKOSTAV</h3>
              <h4>Tvorba jednotné webové šablony pro více developerských projektů</h4>
            </div>
            <div class="layer"></div>
          </div>
        </a>
      </li>
      <li>
        <a title="Proti Proudu" href="/protiproudu">
          <div class="projectWindow protiProudu">
            <div class="description">
              <h3>Proti Proudu</h3>
              <h4>Distribuce nejposlouchanějšího podcastu v České Republice</h4>
            </div>
            <div class="layer"></div>
          </div>
        </a>
      </li>
      <li>
        <a title="David Kolář" href="/david-kolar">
          <div class="projectWindow davidKolar">
            <div class="description">
              <h3>DAVID KOLAR</h3>
              <h4>Promoting an influencer on social media with the use of micro-content</h4>
            </div>
            <div class="layer"></div>
          </div>
        </a>
      </li>
      <li>
        <a title="lanistae" href="/lanistae">
          <div class="projectWindow lanistae">
            <div class="description">
              <h3>LANISTAE</h3>
              <h4>Největší český portál v oblasti výběru osobního trenéra na všechny možné sporty</h4>
            </div>
            <div class="layer"></div>
          </div>
        </a>
      </li>
      <li>
        <a title="BeUnique" href="/beunique">
          <div class="projectWindow beunique">
            <div class="description">
              <h3>BEUNIQUE</h3>
              <h4>Uvedení začínajícího e-shopu do podvědomí lidí pomocí sociálních sítí</h4>
            </div>
            <div class="layer"></div>
          </div>
        </a>
      </li>
      <li>
        <a title="Jezdecká stáj Skvrňov" href="/skvrnov">
          <div class="projectWindow jezdeckaStaj">
            <div class="description">
              <h3>JEZDECKÁ STÁJ SKVRNOV</h3>
              <h4>Produkce profesioálního promo videa za pomoci dronu</h4>
            </div>
            <div class="layer"></div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="sideHustle">
  <div class="heading">
    <h1 class="wow fadeInUp" data-wow-delay="0.2s">side <span>hustle</span></h1>
    <p class="wow fadeIn" data-wow-delay="0.2s">projekty na kterých pracujeme ve volném čase</p>
  </div>
  <div class="projectList">
    <div class="vimeo wow fadeInUp" data-wow-delay="0.2s">
      <a title="Youtube link" href="https://www.youtube.com/channel/UCqHmEig9z3mL85QjJ2IltYw" class="socialLogo socialLogoDesktop"><img src="assets/img/youtube.png" alt="vimeo"><span>Youtube</span></a>
      <ul class="videos">
        <li>
          <a title="Youtube link" href="https://www.youtube.com/watch?v=IMYgCWXSDlE">
            <div class="vimeoVideo romania">
              <div class="description">
                <span>PALMMEDIA</span>
                <h4>Jak tedy začít?</h4>
              </div>
              <i class="fa fa-play" aria-hidden="true"></i>
              <div class="layer"></div>
            </div>
          </a>
        </li>
        <li>
          <a title="Youtube link" href="https://www.youtube.com/watch?v=l-jGPXxl1oo">
            <div class="vimeoVideo zauchensee">
              <div class="description">
                <span>PALMMEDIA</span>
                <h4>Proč si budovat osobní značku?</h4>
              </div>
              <i class="fa fa-play" aria-hidden="true"></i>
              <div class="layer"></div>
            </div>
          </a>
        </li>
        <li>
          <a title="Youtube link" href="https://www.youtube.com/watch?v=y2g_XEAKRiw">
            <div class="vimeoVideo justAnotherDay">
              <div class="description">
                <span>PALMMEDIA</span>
                <h4>5 chyb u své první FB kampaně</h4>
              </div>
              <i class="fa fa-play" aria-hidden="true"></i>
              <div class="layer"></div>
            </div>
          </a>
        </li>
      </ul>
      <div class="videosMobile">
        <ul>
          <li>
            <div class="romania"></div>
          </li>
          <li>
            <div class="justAnotherDay"></div>
          </li>
          <li>
            <div class="zauchensee"></div>
          </li>
        </ul>
        <a class="button" href="https://www.youtube.com/channel/UCqHmEig9z3mL85QjJ2IltYw">SEE MORE</a>
        <a href="https://www.youtube.com/channel/UCqHmEig9z3mL85QjJ2IltYw" class="socialLogo"><img src="assets/img/youtube.png" alt="vimeo"></a>
      </div>
    </div>
    <div class="instagram wow fadeInUp" data-wow-delay="0.2s">
      <a href="https://www.instagram.com/palmmedia.co/" class="socialLogo socialLogoDesktop"><img src="assets/img/instagram.png" alt="instagram"><span>Instagram</span></a>
      <ul class="pictures">
        <li>
          <a>
            <div class="photo1"></div>
          </a>
        </li>
        <li>
          <a>
            <div class="photo2"></div>
          </a>
        </li>
        <li>
          <a>
            <div class="photo3"></div>
          </a>
        </li>
        <li>
          <a>
            <div class="photo4"></div>
          </a>
        </li>
        <li>
          <a>
            <div class="photo5"></div>
          </a>
        </li>
        <li>
          <a>
            <div class="photo6"></div>
          </a>
        </li>
      </ul>
      <div class="picturesMobile">
        <ul>
          <li>
            <a>
              <div class="photo1"></div>
            </a>
          </li>
          <li>
            <a>
              <div class="photo2"></div>
            </a>
          </li>
          <li>
            <a>
              <div class="photo3"></div>
            </a>
          </li>
        </ul>
        <a class="button" href="https://www.instagram.com/palmmedia.co/">ZOBRAZIT VÍCE</a>
        <a href="https://www.instagram.com/palmmedia.co/" class="socialLogo"><img src="assets/img/instagram.png" alt="instagram"><span>Instagram</span></a>
      </div>
      <a class="button socialLogoDesktop" href="https://www.instagram.com/palmmedia.co/">ZOBRAZIT VÍCE</a>
    </div>
    <div class="others">
      <div class="github wow fadeInLeft" data-wow-delay="0.2s">
        <a href="https://github.com/palmmedia" class="socialLogo"><img src="assets/img/github.png" alt="github"><span>GitHub</span></a>
        <br>
        <a class="button" href="https://github.com/palmmedia">LINK</a>
      </div>
      <div class="medium wow fadeInRight" data-wow-delay="0.2s">
        <a title="linkedIn link" class="socialLogo"><span>LinkedIn</span><img src="assets/img/linkedin.png" alt="LinkedIn palmmedia"></a>
        <br>
        <a title="linkedIn link" class="button" href="https://www.linkedin.com/company/palmmedia/">LINK</a>
      </div>
    </div>
  </div>
</section>
