<section class="quote wow fadeInUp" data-wow-delay="0.2s">
  <div class="ornament1"></div>
  <div class="ornament2"></div>
  <div class="quoteInner">
    <div class="signature wow fadeInLeft" data-wow-delay="0.4s">
      <span class="name">JIRI STEPANEK</span>
      <span class="founder">Founder</span>
    </div>
    <p class="wow fadeInDown" data-wow-delay="0.4s">“To say I come from a food-obsessed family is to put it mildly: When my grandparents moved to London in the 1950s, they started creating Indian food in their home”</p>
  </div>
</section>
