<section class="quote wow fadeInUp" data-wow-delay="0.2s">
  <div class="ornament1"></div>
  <div class="ornament2"></div>
  <div class="quoteInner">
    <div class="signature wow fadeInLeft" data-wow-delay="0.4s">
      <span class="name">JIRI STEPANEK</span>
      <span class="founder">Founder</span>
    </div>
    <p class="wow fadeInDown" data-wow-delay="0.4s">“We all have different goals. The main reason why I founded PalmMedia wasn't money but the creative freedom in making the best things possible and building a legacy upon that.”</p>
  </div>
</section>
