.services {
  .line {
    width: calc(100% - 60px);
    max-width: 500px;

    @media screen and (max-width: 450px) {
      max-width: 205px;
    }
  }
}

.bodyS {
  .lineMobile {
    display: none;

    @media screen and (max-width: 450px) {
      display: block;
    }
  }

  .basicInfo {
    padding-top: 100px;
    text-align: center;
    position: relative;

    .basicInfoTextInner {
      width: 480px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 100px;

      p {
        font-family: AveRoman;
        font-size: 14px;
        color: #575757;
        line-height: 24px;
        text-align: right;
        margin-bottom: 0;
        margin-top: 0;
        width: calc(50vw - 50px - 50px);
        float: right;
        max-width: 420px;

        @media screen and (max-width: 1100px) {
          width: calc(50vw - 30px - 50px);
        }

        @media screen and (max-width: 800px) {
          width: calc(100% - 100px);
          margin: 0 auto;
          display: block;
          float: none;
          max-width: 480px;
          text-align: center;
          padding-top: 70px;
        }

        @media screen and (max-width: 450px) {
          text-align: left;
          max-width: none;
          width: calc(100% - 60px);
          font-size: 13px;
          line-height: 23px;
          padding-top: 35px;
          padding-bottom: 40px;
        }
      }

      @media screen and (max-width: 1100px) {
        margin-right: 60px;
        width: 360px;
      }

      @media screen and (max-width: 800px) {
        display: block;
        margin: 0;
        width: auto;
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
      }
    }

    .projectWindow {
      display: inline-block;
      vertical-align: middle;

      .description {
        h3 {
          @media screen and (max-width: 1100px) {
            bottom: 70px;
            left: 23px;
          }

          @media screen and (max-width: 800px) {
            bottom: 80px;
            left: 30px;
          }

          @media screen and (max-width: 550px) {
            bottom: 70px;
            left: 23px;
          }

          @media screen and (max-width: 450px) {
            bottom: 49px;
            left: 15px;
          }
        }

        h4 {
          @media screen and (max-width: 1100px) {
            width: calc(100% - 60px);
            font-size: 14px;
            line-height: 20px;
            bottom: 20px;
            left: 23px;
          }

          @media screen and (max-width: 800px) {
            bottom: 30px;
            left: 30px;
            font-size: 15px;
          }

          @media screen and (max-width: 550px) {
            font-size: 14px;
            line-height: 20px;
            bottom: 20px;
            left: 23px;
          }

          @media screen and (max-width: 450px) {
            font-size: 12px;
            line-height: 16px;
            bottom: 12px;
            left: 15px;
            width: calc(100% - 30px) !important;
          }
        }
      }

      &:hover {
        @media screen and (max-width: 350px) {
          background-size: 150%;
        }
      }

      @media screen and (max-width: 1100px) {
        width: 360px;
        height: 240px;
      }

      @media screen and (max-width: 800px) {
        display: block;
        margin: 0 auto;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        width: 480px;
        height: 320px;
      }

      @media screen and (max-width: 550px) {
        width: calc(100% - 60px);
        height: 260px;
      }


      @media screen and (max-width: 420px) {
        height: 210px;
      }

      @media screen and (max-width: 350px) {
        background-size: 130%;
      }
    }

    @media screen and (max-width: 800px) {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-top: 70px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 30px;
    }
  }

  .listServices {
    height: 210px;
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
      font-family: AveMediumOblique;
      font-size: 33px;
      color: #575757;
      line-height: 50px;
      position: absolute;
      right: calc(50% + 50px);
      text-align: right;
      margin: 0;
      max-width: 380px;

      @media screen and (max-width: 1100px) {
        right: calc(50% + 30px);
      }

      @media screen and (max-width: 800px) {
        width: calc(100% - 100px);
        max-width: 300px;
        margin: 0 auto;
        display: block;
        position: static;
        text-align: center;
        margin-bottom: 30px;
      }

      @media screen and (max-width: 450px) {
        font-size: 23px;
        line-height: 38px;
        text-align: left;
        max-width: none;
        width: calc(100% - 60px);
      }
    }

    ul {
      position: absolute;
      left: calc(50% + 50px);
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        font-family: AveRoman;
        font-size: 16px;
        color: #909090;
        line-height: 30px;

        &::before {
          content: "- ";

          @media screen and (max-width: 800px) {
            content: "";
          }

          @media screen and (max-width: 450px) {
            content: "- ";
          }
        }

        @media screen and (max-width: 450px) {
          font-size: 13px;
          line-height: 28px;
        }
      }

      @media screen and (max-width: 1100px) {
        left: calc(50% + 30px);
      }

      @media screen and (max-width: 800px) {
        width: calc(100% - 100px);
        max-width: 480px;
        margin: 0 auto;
        display: block;
        position: static;
        text-align: center;
      }

      @media screen and (max-width: 450px) {
        width: calc(100% - 60px);
        max-width: none;
        margin: 0 auto;
        text-align: left;
      }
    }

    @media screen and (max-width: 800px) {
      height: auto;
      padding-bottom: 70px;
      padding-top: 70px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.whereToGoNext {
  text-align: center;
  margin-top: 100px;

  .boxes {
    width: calc(100% - 100px);
    max-width: 1020px;
    position: relative;
    margin: 0 auto;

    div {
      position: relative;
      width: 310px;
      height: 160px;
      display: inline-block;
      background: gray;
      vertical-align: middle;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.13);
      -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.13);
      box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.13);

      a {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
      }

      h4 {
        font-family: MaaxBlack;
        font-size: 21px;
        color: #FFFFFF;
        letter-spacing: 1.3px;
        line-height: 31px;
        padding-top: 49px;
        margin: 0;

        @media screen and (max-width: 1050px) {
          padding-top: 45px;
        }

        @media screen and (max-width: 930px) {
          padding-top: 35px;
          font-size: 19px;
        }

        @media screen and (max-width: 800px) {
          padding-top: 49px;
          font-size: 21px;
        }

        @media screen and (max-width: 450px) {
          padding-top: 59px;
          font-size: 17px;
          line-height: 26px;
        }
      }

      &:first-child {
        position: absolute;
        top: 0;
        left: 0;

        @media screen and (max-width: 950px) {
          position: static;
        }
      }

      &:last-child {
        position: absolute;
        top: 0;
        right: 0;

        @media screen and (max-width: 950px) {
          position: static;
        }
      }

      @media screen and (max-width: 1050px) {
        width: 280px;
        height: 145px;
      }

      @media screen and (max-width: 930px) {
        width: 240px;
        height: 125px;
      }

      @media screen and (max-width: 800px) {
        width: 310px;
        height: 160px;
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      @media screen and (max-width: 450px) {
        width: 100%;
        height: 160px;
      }
    }

    .projectsBox {
      background: url("../img/pozadi_projects.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 105%;
      transition: background-size 1s ease;
      -webkit-transition: background-size 1s ease;
      -moz-transition: background-size 1s ease;

      h4 {
        margin: 0;
        line-height: 160px;
        color: #575757;
        padding: 0 !important;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;

        @media screen and (max-width: 1050px) {
          line-height: 125px;
        }

        @media screen and (max-width: 800px) {
          line-height: 160px;
        }
      }

      &:hover {
        background-size: 1000%;

        h4 {
          transform: scale(0.95) !important;
          -webkit-transform: scale(0.95) !important;
          -moz-transform: scale(0.95) !important;
          -ms-transform: scale(0.95) !important;
        }

        @media screen and (max-width: 450px) {
          background-size: cover;
        }
      }

      @media screen and (max-width: 450px) {
        background-size: cover;
      }
    }

    .websiteDevelopmentBox {
      background: url("../img/pozadi_web.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 105%;
      transition: background-size 0.5s ease;

      h4 {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
      }

      &:hover {
        background-size: 120%;

        h4 {
          transform: scale(0.95) !important;
          -webkit-transform: scale(0.95) !important;
          -moz-transform: scale(0.95) !important;
          -ms-transform: scale(0.95) !important;
        }

        @media screen and (max-width: 450px) {
          background-size: cover;
        }
      }

      @media screen and (max-width: 450px) {
        background-size: cover;
      }
    }

    .videoPhotoBox {
      background: url("../img/pozadi_photo.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 105%;
      transition: background-size 0.5s ease;

      h4 {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
      }

      &:hover {
        background-size: 120%;

        h4 {
          transform: scale(0.95) !important;
          -webkit-transform: scale(0.95) !important;
          -moz-transform: scale(0.95) !important;
          -ms-transform: scale(0.95) !important;
        }

        @media screen and (max-width: 450px) {
          background-size: cover;
        }
      }

      @media screen and (max-width: 450px) {
        background-size: cover;
      }
    }

    .socialMediaBox {
      background: url("../img/pozadi_social.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 105%;
      transition: background-size 0.5s ease;

      h4 {
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
      }

      &:hover {
        background-size: 120%;

        h4 {
          transform: scale(0.95) !important;
          -webkit-transform: scale(0.95) !important;
          -moz-transform: scale(0.95) !important;
          -ms-transform: scale(0.95) !important;
        }
      }

      @media screen and (max-width: 450px) {
        background-size: cover;
      }
    }

    @media screen and (max-width: 950px) {
      width: calc(100% - 50px);
    }

    @media screen and (max-width: 930px) {
      max-width: 800px;
    }

    @media screen and (max-width: 450px) {
      max-width: 330px;
      width: calc(100% - 60px);
      background: cover;
    }
  }

  p {
    font-family: AveBookOblique;
    font-size: 17px;
    color: #AFAFAF;
    margin: 0;
    margin-top: 35px;

    @media screen and (max-width: 450px) {
      font-size: 13px;
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 800px) {
    margin-top: 70px;
  }

  @media screen and (max-width: 450px) {
    margin-top: 40px;
  }
}

.bodyPhotoVideo {
  .basicInfo {
    p {
      margin-top: 30px;
    }
  }
}
