.coreValues {
  max-width: 900px;
  width: calc(100% - 80px);
  margin: 0 auto;
  margin-bottom: 140px;
  padding-top: 140px;

  h2 {
    font-family: Mon;
    font-size: 31px;
    color: #4A4A4A;
    margin-top: 15px;
    margin-bottom: 25px;

    @media screen and (max-width: 450px) {
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }

  p {
    font-family: AveRoman;
    font-size: 15px;
    color: #4A4A4A;
    line-height: 25px;
    width: calc(50% - 50px);
    margin-bottom: 0;

    @media screen and (max-width: 450px) {
      font-size: 13px;
      line-height: 22px;
      width: 100%;
    }
  }

  .line {
    height: 1px;
    max-width: 500px;
    width: calc(100% - 100px);
    margin: 0 auto;
    background: #E5E5E5;
    min-width: 200px;
  }

  img {
    max-width: 48px;

    @media screen and (max-width: 450px) {
      display: inline-block;
      vertical-align: middle;
      max-width: 28px;
      margin: 0 15px;
    }
  }

  .leftValue {
    position: relative;

    .heading {
      position: absolute;
      top: 0;
      right: calc(50% + 50px);
      text-align: right;

      @media screen and (max-width: 950px) {
        right: calc(50% + 30px);
      }

      @media screen and (max-width: 450px) {
        position: static;
        text-align: left;
        margin-bottom: 25px;
      }
    }

    p {
      margin-left: calc(50% + 50px);
      text-align: left;

      @media screen and (max-width: 950px) {
        margin-left: calc(50% + 30px);
      }

      @media screen and (max-width: 450px) {
        margin: 0;
      }
    }

    &:first-child {
      margin-bottom: 80px;

      @media screen and (max-width: 450px) {
        margin-bottom: 40px;
      }
    }

    &:last-child {
      margin-top: 80px;

      @media screen and (max-width: 450px) {
        margin-top: 40px;
      }
    }
  }

  .rightValue {
    position: relative;
    margin: 80px auto;

    .heading {
      position: absolute;
      top: 0;
      left: calc(50% + 50px);
      text-align: left;

      @media screen and (max-width: 950px) {
        left: calc(50% + 30px);
      }

      @media screen and (max-width: 450px) {
        position: static;
        margin-bottom: 25px;
        text-align: right;
      }
    }

    .headingMobile {
      position: absolute;
      top: 0;
      left: calc(50% + 50px);
      text-align: left;
      display: none;

      @media screen and (max-width: 950px) {
        left: calc(50% + 30px);
      }

      @media screen and (max-width: 450px) {
        position: static;
        margin-bottom: 25px;
        text-align: right;
        display: block;
      }
    }

    .headingDesktop {
      @media screen and (max-width: 450px) {
        display: none;
      }
    }

    p {
      margin-left: 0;
      text-align: right;

      @media screen and (max-width: 950px) {
        margin-left: 20px;
      }

      @media screen and (max-width: 450px) {
        margin: 0;
      }
    }

    @media screen and (max-width: 450px) {
      margin: 40px auto;
    }
  }

  @media screen and (max-width: 950px) {
    margin-bottom: 90px;
    padding-top: 90px;
  }

  @media screen and (max-width: 450px) {
    width: calc(100% - 60px);
    margin-bottom: 60px;
    padding-top: 50px;
  }
}

.selfieTrends {
  @media screen and (max-width: 365px) {
    display: none !important;
  }
}
