.websiteDevelopmentHtml {
  .mobileSplit {
    background: rgba(0,0,0,0.28) !important;
  }
}

.fakeJumbotron {
  height: calc(530px - 62px);
  width: 100px;
  z-index: -1000;
  opacity: 0;

  @media screen and (max-width: 1100px) {
    height: calc(530px - 62px);
  }

  @media screen and (max-width: 950px) {
    height: calc(530px - 0px);
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.jumbotronS {
  position: absolute;
  top: 0;
  z-index: 0;
  height: 530px;
  width: 100%;
  background: #333333; /* Old Browsers */
  background: -webkit-radial-gradient(top,#333333,#252525); /*Safari 5.1-6*/
  background: -o-radial-gradient(top,#333333,#252525); /*Opera 11.1-12*/
  background: -moz-radial-gradient(top,#333333,#252525); /*Fx 3.6-15*/
  background: radial-gradient(to bottom, #333333, #252525); /*Standard*/

  .ornament1 {
    background: url("../img/ornamenty_s/ornament_1.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 331px;
    height: 358px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0.4;

    @media screen and (max-width: 1050px) {
      width: 280px;
    }

    @media screen and (max-width: 450px) {
      background: url("../img/ornamenty_s/ornament_4.png");
      background-position: top left;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      left: 0;
      width: 170px;
    }
  }

  .ornament2 {
    background: url("../img/ornamenty_s/ornament_2.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 366px;
    height: 463px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.4;

    @media screen and (max-width: 1050px) {
      width: 310px;
    }

    @media screen and (max-width: 450px) {
      background: url("../img/ornamenty_s/ornament_5.png");
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      left: 0;
      top: unset;
      width: 200px;
    }
  }

  .ornament3 {
    background: url("../img/ornamenty_s/ornament_3.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 355px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 30%;
    z-index: 0;
    opacity: 0.4;

    @media screen and (max-width: 1050px) {
      height: 88px;
      left: 21%;
    }

    @media screen and (max-width: 870px) {
      display: none;
    }

    @media screen and (max-width: 450px) {
      background: url("../img/ornamenty_s/ornament_6.png");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 30px;
      right: 0;
      height: 280px;
      display: block;
      left: unset;
    }
  }

  .jumbotronSInner {
    position: relative;
    padding-top: 210px;
    width: calc(100%);
    height: 110px;
    margin-bottom: 180px;
    text-align: center;

    .mobileSplit {
      display: none !important;
      background: rgba(255,255,255,0.28);
      height: 1px;
      width: 45px;
      display: block;
      margin-top: 15px;
      margin-bottom: 20px;

      @media screen and (max-width: 600px) {
        display: block !important;
      }
    }

    h1 {
      font-family: AveBook;
      font-size: 33px;
      color: #FFFFFF;
      line-height: 55px;
      display: inline-block;
      margin: 0;
      text-align: right;
      margin-right: 100px;
      vertical-align: middle;

      span {
        font-family: AveHeavyOblique;
        font-size: 44px;
        color: #FFBA48;

        @media screen and (max-width: 600px) {
          font-size: 36px;
        }
      }

      @media screen and (max-width: 1100px) {
        margin-right: 60px;
      }

      @media screen and (max-width: 600px) {
        width: calc(100%);
        margin: 0 auto;
        text-align: left;
        display: block;
        max-width: 480px;
        height: auto;
      }

      @media screen and (max-width: 600px) {
        font-size: 25px;
        line-height: 46px;
      }
    }

    .jumbotronSInnerTextInner {
      display: inline-block;
      vertical-align: middle;
      width: 210px;

      p {
        font-family: AveRoman;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 24px;
        max-width: 420px;
        width: calc(50vw - 50px - 70px);
        text-align: left;

        @media screen and (max-width: 1100px) {
          width: calc(50vw - 30px - 50px);
        }

        @media screen and (max-width: 600px) {
          width: calc(100%);
          margin: 0 auto;
          text-align: left;
          display: block;
          max-width: none;
        }

        @media screen and (max-width: 600px) {
          font-size: 13px;
          line-height: 22px;
        }
      }

      @media screen and (max-width: 600px) {
        width: auto;
        display: block;
      }
    }

    @media screen and (max-width: 600px) {
      margin: 0 auto;
      height: auto;
      padding-top: 200px;
      padding-bottom: 150px;
      margin-bottom: 0;
      width: calc(100% - 60px);
      max-width: 480px;
    }

    @media screen and (max-width: 450px) {
      padding-top: 120px;
      padding-bottom: 80px;
    }
  }

  @media screen and (max-width: 600px) {
    height: auto;
    position: relative;
  }
}

.photoVideo {
  background: url("../img/jumbotron_pozadi_photo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .ornament1 {
    display: none;
  }

  .ornament2 {
    display: none;
  }

  .ornament3 {
    display: none;
  }
}

.outerHeaderPhoto {
  background: rgba(0, 0, 0, 0.5) !important;
}

.outerHeaderWeb {
  background: -webkit-linear-gradient(top left, rgba(0,0,0,0.11) 0%, rgba(0,0,0,0.13) 100%) !important;
  background: -o-linear-gradient(top left, rgba(0,0,0,0.11) 0%, rgba(0,0,0,0.13) 100%) !important;
  background: -moz-linear-gradient(top left, rgba(0,0,0,0.11) 0%, rgba(0,0,0,0.13) 100%) !important;
  background: linear-gradient(to bottom right, rgba(0,0,0,0.11) 0%, rgba(0,0,0,0.13) 100%) !important;
}

.websiteDevelopment {
  background: #FFCB74; /* Old Browsers */
  background: -webkit-radial-gradient(top,#FFCB74,#FFC563); /*Safari 5.1-6*/
  background: -o-radial-gradient(top,#FFCB74,#FFC563); /*Opera 11.1-12*/
  background: -moz-radial-gradient(top,#FFCB74,#FFC563); /*Fx 3.6-15*/
  background: radial-gradient(to bottom, #FFCB74, #FFC563); /*Standard*/

  .ornament1 {
    background: url("../img/ornamenty_s_y/ornament_1.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 331px;
    height: 358px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 1;

    @media screen and (max-width: 450px) {
      background: url("../img/ornamenty_s_y/ornament_4.png");
      background-position: top left;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      left: 0;
      width: 170px;
    }
  }

  .ornament2 {
    background: url("../img/ornamenty_s_y/ornament_2.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 366px;
    height: 463px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 1;

    @media screen and (max-width: 450px) {
      background: url("../img/ornamenty_s_y/ornament_5.png");
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 0;
      left: 0;
      top: unset;
      width: 200px;
    }
  }

  .ornament3 {
    background: url("../img/ornamenty_s_y/ornament_3.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 355px;
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 30%;
    z-index: 0;
    opacity: 1;

    @media screen and (max-width: 450px) {
      background: url("../img/ornamenty_s_y/ornament_6.png");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 30px;
      right: 0;
      height: 280px;
      display: block;
      left: unset;
    }
  }

  h1 {
    color: #4a4a4a !important;

    span {
      color: #4a4a4a !important;
    }
  }

  p {
    color: #4a4a4a !important;
  }
}
