.mobileMenuSection {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(52, 52, 52, 1);
  z-index: -10000;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;

  .closeButton {
    font-family: AveHeavyOblique;
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    padding: 2px 7px;
    position: absolute;
    top: 25px;
    right: 30px;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
      text-decoration: none;
    }

    @media screen and (min-width: 450px) {
      top: 35px;
      right: 40px;
    }
  }

  img {
    margin-top: 20px;
    margin-left: 30px;
    height: 22px;

    @media screen and (min-width: 450px) {
      height: 28px;
      margin-left: 40px;
      margin-top: 24px;
    }
  }

  ul {
    padding-left: 30px;
    width: calc(100% - 60px);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    li {
      list-style: none;
      margin-bottom: 15px;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 19px;
        font-family: AveMedium;
      }

      &:nth-child(1) {
        -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
        animation-delay: 0.5s;
      }

      &:nth-child(2) {
        -webkit-animation-delay: 0.6s; /* Safari 4.0 - 8.0 */
        animation-delay: 0.6s;
      }

      &:nth-child(3) {
        -webkit-animation-delay: 0.7s; /* Safari 4.0 - 8.0 */
        animation-delay: 0.7s;
      }

      &:nth-child(4) {
        -webkit-animation-delay: 0.8s; /* Safari 4.0 - 8.0 */
        animation-delay: 0.8s;
      }

      &:nth-child(5) {
        -webkit-animation-delay: 0.9s; /* Safari 4.0 - 8.0 */
        animation-delay: 0.9s;
      }

      &:nth-child(6) {
        -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
        animation-delay: 1s;
      }
    }
  }
}
