.prezentace {
  display: none;
  opacity: 0;

  iframe {
    margin: 0 auto;
    display: block;
  }
}

.velkaPrezentace {
  @media screen and (min-width: 1250px) {
    display: block !important;
  }
}

.stredniPrezentace {
  @media screen and (max-width: 1249px) {
    @media screen and (min-width: 1000px) {
      display: block !important;
    }
  }
}

.malaPrezentace {
  @media screen and (max-width: 999px) {
    @media screen and (min-width: 500px) {
      display: block !important;
    }
  }
}

.pidiPrezentace {
  @media screen and (max-width: 499px) {
    display: block !important;
  }
}
