.cenikNadpis {
  font-family: AveLight;
  font-size: 42px;
  color: #4A4A4A;
  text-align: center;
  margin-top: 0;
  margin: 0 auto;
  padding-top: 70px;
  margin-bottom: 60px;
  max-width: 1140px;
  width: calc(100% - 80px);

  @media screen and (max-width: 950px) {
    padding-top: 120px;
  }

  @media screen and (max-width: 460px) {
    padding-top: 100px;
    font-size: 30px;
    margin-bottom: 30px;
    width: calc(100% - 60px);
  }
}

.cenik {
  .ceny {
    max-width: 1140px;
    width: calc(100% - 80px);
    margin: 0 auto;
    margin-bottom: 50px;
    opacity: 0;

    table {
      width: 100%;
      color: #4A4A4A;
      font-size: 16px;

      tr {
        height: 53px;

        td {
          padding-top: 20px;

          &:first-child {
            text-align: left;
            padding-right: 5px;
          }
          &:last-child {
            text-align: right;
            font-family: AveHeavy;
            min-width: 160px;

            @media screen and (max-width: 460px) {
              min-width: 95px;
            }
          }
        }
      }

      .prvniRadek {
        border-bottom: 1.5px solid #D8D8D8;
        height: 45px;

        .nazevSekce {
          text-align: left;
          font-family: AveHeavy;
          font-size: 20px;
          padding-right: 5px;

          @media screen and (max-width: 460px) {
            font-size: 18px;
          }
        }

        .cenaSekce {
          text-align: right;
          color: #7D7D7D;
          font-family: AveHeavy;
          font-size: 20px;
          min-width: none !important;

          @media screen and (max-width: 460px) {
            font-size: 18px;
          }
        }
      }

      @media screen and (max-width: 460px) {
        font-size: 14px;
      }
    }

    @media screen and (max-width: 460px) {
      width: calc(100% - 60px);
    }
  }
}
