/*****************************************

fonts

*****************************************/

@mixin font-face($jmeno, $soubor) {
  @font-face {
      font-family: $jmeno; /* deklarace fontu */
      src: url("../fonts/#{$soubor}"); /* propojení na umístění souboru */
  }
}

@include font-face("AveBlack", "Avenir-Black.ttf");
@include font-face("AveBlackOblique", "Avenir-BlackOblique.ttf");
@include font-face("AveBook", "Avenir-Book.ttf");
@include font-face("AveBookOblique", "Avenir-BookOblique.ttf");
@include font-face("AveHeavy", "Avenir-Heavy.ttf");
@include font-face("AveHeavyOblique", "Avenir-HeavyOblique.ttf");
@include font-face("AveLight", "Avenir-Light.ttf");
@include font-face("AveLightOblique", "Avenir-LightOblique.ttf");
@include font-face("AveMedium", "Avenir-Medium.ttf");
@include font-face("AveMediumOblique", "Avenir-MediumOblique.ttf");
@include font-face("AveOblique", "Avenir-Oblique.ttf");
@include font-face("AveRoman", "Avenir-Roman.ttf");

@include font-face("CirBlack", "CircularStd-Black.otf");
@include font-face("CirBold", "CircularStd-Bold.otf");
@include font-face("CirBlackItalic", "CircularStd-BlackItalic.otf");
@include font-face("CirBook", "CircularStd-Book.otf");
@include font-face("CirBookItalic", "CircularStd-BookItalic.otf");
@include font-face("CirMedium", "CircularStd-Medium.otf");
@include font-face("CirMediumItalic", "CircularStd-MediumItalic.otf");

@include font-face("MaaBlack", "Maax_black.otf");
@include font-face("MaaBoldItalic", "Maax_boldItalic.otf");
@include font-face("MaaBold", "Maax_bold.otf");
@include font-face("MaaItalic", "Maax_italic.otf");
@include font-face("MaaMediumItalic", "Maax_mediumItalic.otf");
@include font-face("MaaMedium", "Maax_medium.otf");
@include font-face("Maa", "Maax.otf");

@include font-face("Mon", "Monaco.ttf");

/*****************************************

colors

*****************************************/

$orange: #FFBA48;

/*****************************************

defaults

*****************************************/

h1, h2, h3, h4, h5, p, span, a, li {
  font-weight: normal !important;
  font-family: AveRoman;
}

div:active {
  outline: none !important;
}

a:active {
  outline: none !important;
}

body {
  width: 100%;
}

section {
  outline: 0 !important;
}

.button {
  color: #fff;
  background: #2F2F2F;
  text-transform: uppercase;
  font-family: MaaBlack;
  font-size: 9.4px;
  line-height: 9.4px;
  padding: 16px 25px;
  text-decoration: none;
  padding-bottom: 14.5px;
  text-align: center;
  margin: 0;

  &:hover {
    background: #1F1F1F;
  }
}

.simekostav {
  background: url("../img/bydleniMukarov.jpg");
}

.lanistae {
  background: url("../img/lanistae.jpg");
}

.beunique {
  background: url("../img/beunique.jpg");
}

.jezdeckaStaj {
  background: url("../img/jezdeckastaj.jpg");
}

.projectWindow {
  width: 480px;
  height: 320px;
  position: relative;
  color: #fff;
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.13);

  .description {
    h3 {
      position: absolute;
      bottom: 80px;
      left: 30px;
      font-family: MaaBlack;
      font-size: 9px;
      text-transform: uppercase;
      margin: 0;
      z-index: 1;
      text-align: left;
    }

    h4 {
      position: absolute;
      bottom: 30px;
      left: 30px;
      font-family: AveMedium;
      font-size: 15px;
      max-width: 330px;
      margin: 0;
      z-index: 1;
      text-align: left;
    }
  }

  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: -webkit-linear-gradient(top right, transparent, rgba(0, 0, 0, 1));
    background-image: -o-linear-gradient(top right, transparent, rgba(0, 0, 0, 1));
    background-image: linear-gradient(to bottom left, transparent, rgba(0, 0, 0, 1));
    opacity: 0.5;
    transition: opacity 0.5s ease;
  }

  &:hover {
    background-size: 130%;

    .layer {
      opacity: 0.9;
    }
  }
}
